.distanciamento{
    padding-left: 60px;
    padding-right: 60px;
}

.btn-action{
    font-size: 30px;
    color: #fff;
    border-color: #007bff;
    
}

.btn-action:hover {
    background: #888585;
    color: #FFF;
    font-weight: bold;
    border-color: #B1B1B1;
   }